body {
    height: 100vh;
}
#main {    
    width: 400px;
    margin-top: 8%;    
    box-shadow: 0px 0px 30px 5px;
}
#text_area {    
    font-size: 40px;    
    height: 80px;
    border-bottom: 1px solid;
    /* background-color: rgb(189, 27, 27); */
}
.button {
    border: none;    
    height: 70px;
    font-size: 30px;        
    /* background-color: rgb(170, 171, 172); */
}
.button:hover {
    background-color: rgb(167, 161, 161) !important;
}